* {
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #000000;
    font-family: Cambria;
    color: #17860d;
  }

  h2 {
    text-transform: uppercase;
    padding: 10px;
  }
  
  .judul {
    text-align: center;
    padding: 40px;
    margin: 10px;
    background-color: #000000;
  }
  
  .container {
    width: 550px;
    padding: 40px 10px;
    margin: 50px auto 0 auto;
    background-color: #3d3b42;
    border-radius: 10px;
  }
  .container input {
    text-align: center;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: #242030;
    color: #80e792;
  }
  
  label {
    margin-bottom: 10px;
  }
  
  .hasil {
    margin-top: 20px;
    width: 100%;
    text-align: center;
  }